*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chat-icon {
    position: fixed;
    top: 94vh;
    left: 40px;
    transform: scale(2.5);
    color: rgb(36,35,35,1);
}

.chat-icon:hover {
    cursor: pointer;
}

.social-log-flex {
    height: 150px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: fixed;
    position: absolute;
    background-color: white;
    right: 0;
}

.logo-container {
    background-color: white;
    padding: 0 15px;
    transform: scale(1.7);
    position: fixed;
    top: 45vh;
    right: 15px;
}

.social-logo {
    padding: 8px 0;
}

.social-logo:hover {
    cursor: pointer;
}